<h1>Please Enter the number</h1>
<form class="inputnumber" id="" action="/input_number/input_op_number" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="NRkFyRWxdYNfUg7vYxLOp2SLf93lvnl+QwDWorR42Dp6yZXPhHEb6arhDOIWcqGit8jfnrPwL781/xlrzj63TA==" />
  <input name="input_text"></input>
  <input type="submit" name="commit" value="Create" data-disable-with="Create" />
</form>
